<!-- Music: intro blurb + grid of collaborations/discography from the `music` collection. -->
<p>
  I've had the privilege of collaborating with numerous musicians in the Boston area, including
  fiddler <a href="/music/duo-with-eric">Eric Boodman</a>,
  baroque violin/nyckelharpa player <a href="https://annabreger.com">Anna Breger</a>,
  accordionist/singer <a href="/music/duo-with-sunniva">Sunniva Brynnel</a>,
  pianist <a href="/music/the-corn-knight">Chase Morrin</a>,
  ensembles <a href="/music/all-over-the-map">Blue Thread</a> and Fade Blue.
  In 2016, I released my debut album <a href="/music/the-corn-knight">The Corn Knight</a>,
  an hour long story piece for piano/marimba duo, in collaboration with Chase Morrin.
  While at the New England Conservatory, I had the privilege of studying with
  <a href="http://carlakihlstedt.com">Carla Kihlstedt</a>,
  <a href="http://www.cristicatt.com">Cristi Catt</a>,
  <a href="https://www.winifred-horan.com">Win Horan</a>,
  <a href="https://necmusic.edu/faculty/hankus-netsky">Hankus Netsky</a>,
  <a href="https://www.fiddlegarden.com">Eden MacAdam-Somer</a> and
  <a href="https://www.bso.org/profiles/daniel-bauch">Dan Bauch</a>.
</p>

<div class="projects">
  <div class="grid">
    {%- assign sorted_music = site.music | sort: "importance" -%}
    {%- for project in sorted_music -%}
      {% include projects.html %}
    {%- endfor %}
  </div>
</div>
