
{% assign no_events = "true" %}

<table class="events-table">
{% assign sorted_performances = site.data.performances | sort: 'date' | reverse %}
{% for performance in sorted_performances %}
    {% assign performance_date = performance.date | date: "%Y-%m-%d %H:%M" %}
    {% assign viz = "false" %}
    {% if include.keep == "upcoming" and performance_date >= current_date %}
    {% assign viz = "true" %}
    {% elsif include.keep == "past" and performance_date < current_date %}
    {% assign viz = "true" %}    						       
    {% endif %}
							   
    {% if viz == "true" %}
    {% assign no_events = "false" %}
							   
    <tbody>
    <tr>
        <td colspan="100%"><strong>{{ performance.title }}</strong></td>
    </tr>
    <tr>
        <td><i class="fas fa-location-dot" style="padding-right: 10px;"></i></td>
        <td>
	    {% if performance.address %}
            <a href="https://maps.google.com/?q='{{ performance.address }}'">{{ performance.location }}</a>
	    {% else %}
	    {{ performance.location }}
	    {% endif %}
        </td>
    </tr>
    <tr>
        <td><i class="fas fa-calendar-days" style="padding-right: 10px;"></i></td>
        <td>
            {{ performance.date | date: "%a, %B %d, %Y at %l:%M%P"}}
        </td>
    </tr>
    <tr>
        <td><i class="fas fa-circle-info" style="padding-right: 10px;"></i></td>
        <td>
        {{ performance.description }}
	{% if performance.url %}
	More info <a href="{{ performance.url }}">here</a>.
	{% endif %}
        </td>
    </tr>
    </tbody>
    {% endif %}    
{% endfor %}
</table>

{% if no_events == "true" %}
<center>
  None at the moment, but stay tuned!
</center>
{% endif %}
