---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
	    {% if page.hide_title == nil or page.hide_title == false %}	    
            <h1 class="post-title">{{ page.title }}</h1>
	    {% endif %}
	    {% if page.hide_description == nil or page.hide_description == false %}
            <p class="post-description">{{ page.description }}</p>
	    {% else %}
	    <p></p>
	    {% endif %}
          </header>

          <article>
            {{ content }}
          </article>

        </div>
